@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #291608;
  --secondary-color: #e9ceac;
  --accent-color: #c0a080;
  --text-color: #333;
  --background-color: #f5f5f5;
}

html{
  scroll-behavior: smooth;
}

header h1 {
  font-size: 40px;
}

header {
  font-family: "Playfair", serif;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  color: var(--secondary-color);
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}

header ul a {
  color: var(--secondary-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

header ul a:hover{
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--primary-color);
}

body {
  font-family: "Lora", serif;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    url("imagens/textura-papel.png"),
    linear-gradient(180deg, var(--accent-color), var(--secondary-color));
  background-repeat: repeat, no-repeat;
  background-size: 100px, cover;
  opacity: 1;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0;
  box-sizing: border-box;
  border: 10px solid var(--primary-color);
}

main img {
  width: 30%;
  height: auto;
}

#home h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(252, 252, 252, 0.8);
}

#home p {
  font-size: 1.3rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(252, 252, 252, 0.8);
}

#home {
  background-image: url(imagens/cafe-fundo.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
  width: 100%;
  border-bottom: 10px solid var(--primary-color);
}

#about {
  
  margin: auto;
  width: 100%;
  border-bottom: 5px solid var(--primary-color);
}

#about h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

#about p {
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
}

#menu {
  margin: auto;
  width: 100%;
  border-bottom: 5px solid var(--primary-color);
}

#menu h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

#menu p {
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
}

#menu img {
  border: 10px solid #4b2a12;
  width:30%;
  height: auto;
  max-width: 400px;
}
#botaoMenu {
  border: 10px solid #4b2a12;
  display: inline-flex;
  width: 30%;
  max-width: 400px;
  font-size: x-large;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 25px rgba(250, 246, 246, 0.8);
}

#menu-itens {
  display: flex;
  flex-direction: row;
  gap: 3px;
  flex-wrap: wrap;
  justify-content: center;
}

#contact {
  margin: auto;
  width: 100%;
}

#contact p{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;  
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

footer {
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 10px solid var(--primary-color);     
}

address ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
}

address li a {
  display: inline-flex;
  padding: 10px;
  width: auto;
  height: auto;
  background-color: #4b2a12;
  color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

address li a:hover{
    background-color: var(--accent-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

}

#menuH {
  display: none;  
}

#voltar{
  border: var(--accent-color) solid 2px;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  color: var(--accent-color);
  bottom: 20px;
  right: 20px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
}

#voltar.visivel{
  display: flex;
  opacity: 1;
  visibility: visible;
}


#voltar:active{
  background-color: var(--accent-color);
  border: var(--primary-color) solid 2px;
  color: var(--primary-color);
  transform: scale(1.1);
}

@media (max-width: 768px){
  header{
    grid-template-columns: 1fr;
    text-align: center;
  }

  #menuH {
    display: block;
    background: none;
    cursor: pointer;
    color: var(--accent-color);
    border: var(--secondary-color) solid 1px;
    border-radius: 10px;
    padding: 5px;
    width:fit-content ;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: x-large;
  }

  #menuH:active{
    background-color: var(--accent-color);
    color: var(--primary-color);
  }
  
  
  header h1{
    display: flex;
    justify-content: center;
  }

  header ul{
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  header ul.menu-ativo{
    display: flex;
  }

  #botaoMenu{
    font-size: medium;
    text-align: center;
    
  }

  #home h2{
    display: flex;
    text-align: center;
  }

  address ul{
    display: flex;
    flex-direction: column;
  }

  #contact p{
    text-align: center;
}
}